In [102]:
class A:
    color = "white"

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def puck(self):
        print('puck')

    def __repr__(self):
        return f"I am {self.name}. I am {self.age}"

In [ ]:
pull = [A("Jack" + str(i), i) for i in range(5)]

In [ ]:
pull

In [ ]:
pull[1] ==

In [103]:
class B(A):
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [104]:
b = B('john', 32)

In [ ]:
b.gender = 'man'

In [ ]:
b.gender

In [105]:
b.color

'white'

In [106]:
b.name

'john'

In [107]:
b.puck()

puck

In [108]:
b

I am john. I am 32

In [ ]:
class C:
    def __init__(self, name):
        self.name = name

    def puck(self):
        print("puck")

    def __repr__(self):
        return f"I am {self.name}"

In [ ]:
c1 = C('33')
c2 = C('33')

In [ ]:
c1.split()

In [ ]:
c2

In [ ]:
c1.name == c2.name